.root {
    -fx-font-family: sans-serif;

}
.pane {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden hidden hidden;
}
.label {
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;

}
.list-view {
    -fx-background-color: #3d4855;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #d7d6dc;
}
.list-cell {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-color: #d7d6dc;
    -fx-text-fill: #d7d6dc;
    -fx-font-size: 18;
}
.button {
    -fx-background-color: #eba576;
    -fx-text-fill: #3d3d3d;
    -fx-cursor: hand;
}
.button:hover {
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.7) , 15,0,0,1 );
}
.check-box {
    -fx-text-fill: #d7d6dc;
}
.radio-button {
    -fx-text-fill: #d7d6dc;
}